<!DOCTYPE html>



<head>
<link rel="stylesheet" type="text/css" href="../styles/lentovideo.css?version=1	">
<title>CV</title>
</head>


<body id="indexbody">
ANSIOLUETTELO päivitetty 2.4.2017
Katja Kiuru (s.1965)
Näyttämötaiteen maisteri, FIA
katjakiuru@gmail.com p. 050 352 47 39
Koulutus
1984-88 Teatterikorkeakoulu

BA 27.8.1984–6.5.1994, MA 17.12.1995

1999-2003 Psykoterapeutti 27.1.2012. Kehopsykoterapiakoulutus, 22.9.1999–6.7.2003
1995 -98 Kriittisen Korkeakoulun kirjoittajakoulutus, 16.5.1998
1991-92 London Arts Educational, post graduate
1984 Ylioppilas, Kallion ilmaisutaidon lukio
Jatkokoulutus
2015
-17 Klovneria, Chantal Fourcault, (Ranska), 21. –22.3.2015
2014 Juha Jokela: näyttelijän dramaturgiset välineet
2014
Diane Torr: Man for a day -wokshop, Berliini
2013
Ana Vasquez de Castro: fyysinen näyttelijäntyö
2012 ja -2015 Transsimaskit, Steve Jarand (Can.)
2000, 2001 Leo Bassi (ital.) estraditaide - kurssit 10. –12.11.2000 ja 20. –21.9.2001
1990-93 EITALC kurssit Saksassa ja Kuubassa
1987 Gaulierin klowneriakurssi, Pariisi
1986- Aleksander-tekniikka, eri opettajia
Opetustyöt
Kriittinen korkeakoulu/Filosofian Akatemia: Puhujakoulu: Esiintymistaito 14. –15.3.2015
Helsingin kaupunki, Kulttuurikeskus Stoa, Naamioteatteriopetus ala-asteen oppilaille 16.1.2012–
13.2.2012
Ilmaisuverstas, näyttelijöiden jatkokoulutus 10/2012
Helsingin kaupunki, Palvelukeskus Kinapori, ilmaisuterapeutti, ryhmien ohjaaminen 3.9.2007–2.7. 2008
Johtamistaidon opisto JOT Ahlström Oy:n kansainvälinen johtajakoulutus, Ranska 2/2004
Keho-orientoitunut näyttelijäntyö -kurssit: Q-teatteri 2/2004,
Teatteri Naamio&Höyhen 2/2003, 4/2003,
Iris-HRD Ihminen viestinnän välineenä -valmennus 5/2003
Teatterikorkeakoulu, II vuosikurssi näyttelijäntyö16. –25.8.2000
Orton/Inavalidisäätiö, opetustyötä 27.1.-26.5.2000
Kulttuurikaupunkisäätiö/Kehitysvammatuki 57 ry: Vieraissa vaatteissa -teatteriprojekti kehitysvammaisille
lapsille 8/1999-11/2000
Laajasalon Kristillinen opisto, puheviestinnän opetus 31.8. –14.12.1998
Lasten Taidekoulu Studio Fabula, lukuvuosi 1995–1996
Kallion ilmaisutaidelukio, näyttelijäntyö 7.2. –14.2.1994
Keskuspuiston Ammattikoulu, tuntiopettaja 1999–2001
Aleksis Kiven taideainepainotteinen peruskoulu vuosikuku puuttuu
Seminaarit
2004, 2005, 2011: Pietari: Pietarin Kevät -kulttuurifoorumi, alustajana: kommunikaatio
informaatioaikakaudella näyttelijän näkökulmasta
2015 Turku: North Dialoque of Culture, International youth conference - puhujana
16.4.2013 Helsingin kaupungin avopsykatriset osastot, työyhteisöille, luento, Huumorin käyttö työssä
2016 Ateena, Kreikka, European Association of Body Psychotherapy kongressi the Embodied Self in
Disembodied Society
2012 Cambridge, England: Congress, Body in the world, world in the body
2010 Wien, Itävalta: EAPB Congress, Body Mind Relationship
Luottamustoimet
Eduskunnan Arkadia seura, johtokunnan jäsen 2009–2017, varapuheenjohtaja 2011–2015
Suomen luonneanalyyttinen kehopsykoterapiayhdistys, hallituksen jäsen 2011, puheenjohtaja 2012–

2013
Kallion Kulttuuriverkosto 2007–2009, puheenjohtaja
vaalilautakunta, vars. jäsen 2009 + ? pitää etsiä
Palkinnot
2009 Onnellinen Helsinki -palkinto (tiimille, KKV), Radio Helsinki
1991 Kuulonhuoltoliitto: Television paras huulio
Apurahat
2014 Taike, 2500€, kansainväliseen produktioon
2014 Suomen tietokirjailijat ry 2000€, esikoisteokseen
2007 Helsingin Kulttuuriasiankeskus projektiavustus 500€ näytelmän Optimisti ja pessimisti ohjaamiseen
Palvelukeskus Kinaporissa, teatteri Pieni Kina
2003 Alfred Kordelinin rahasto 2000€ Koko teatteri, Todiste
2002 Helsingin kulttuuriasiainkeskus, 2000€, Romeo&Julia ohjaamiseen,Teatteri Naamio&Höyhen
..TÄHÄN LISTAAN TULEE JATKKOA 90-LUVULTA, PITÄÄ ETSIÄ..VANHASSA KONEESSA ja ehkä
jossain papereissa
Näyttelijänä teatterissa
2015 Diane Torr & Co.: Licence to pucker III, Botanical Garden Edinburgh, Fringe

2014 Licence to pucker II, Grey Cube Galleries, Korkeasaari, Helsinki
2014 Licence to pucker I, Esitystaiteen keskus, Yliopistomuseo Arppenaum, Helsinki,
2012 Esitystaiteen markkinat, Helsinki, Sipulikellari-performanssi (Grass/Kainulainen)
2010 Teatteri Helsinki: Lääkäri vaikka väkisin (Moliere/Ålander)
2009 Undostres/Gloria: Rumbita de los Suenjos (Kannas/Kiuru)
2007 Tampereen Teatteri: Oikoteitä (Bovell/Rosma)
2006 Nälkäteatteri: Aniara (Martinson/Kirkkopelto)
2004 monologi: Maila Talvio (jatkoa
1999 alkaneelle esitykselle) (Hirvikoski)
2003 Koko-teatteri:Todiste (Auburn/Ylisaari)
2003 Teatteri Naamio & Höyhen: Romeo ja Julia (Shakespeare/Kiuru)
2002 Makasiinit: Turvattomat (työryhmä/Jaakkola)
2000 Espoon Teatteri: Othello (Shakespeare/Jäntti)
2000 Kiasma: Medeian kuvia – together at last (Raulo)
1999 Kallion Teatteri: Jumalauta Saatana (Hulkko, Kiuru)
1999 Teatteri Raivoisat Ruusut: Sanoja Hiljaisuudesta - kamarirunoutta sellon (Seppo Laamanen)
kanssa (Bukowski, Haavikko, Kilpi)

(Hulkko, Kiuru)

1999 Töölönlahden kirjallinen historia - Maila Talvion monologi
1996 Ateneum -sali / Kajaanin sana ja sävel / Mukkulan kirjailijakokous, Lahti: Itsestäni minä vain
todistan - E. Leinon runoja, säv.ohj. Järnefelt
1995 Compania Buendia, Havanna: La Otra Tempestad (Shakespeare Lauten), prosessi
1995 Espoon Teatteri: Juhlavuosi (Tabor/Fried)
1994 Espoon Teatteri: Kolme sisarta (Tsehov/Oittinen)
1994 Kymmenessä eri paikassa: Joitakin keskusteluja (Vvedenski/Arlander)
1993 Ateneum -sali: Voitto Tomusta -E. Södergranin runoja,

säv.ohj. Järnefelt

1993 Alppipuisto: Lentävät morsiamet (Camolett/Luoto)
1992 Stoa: Katu (Cartwright/Lindhen)
1992 Valkoinen sali: Online Art Dinner (Mäkelä)
1992 Lontoo, Acting Company: Uncle Vanya (Chekhov/Dainaro); Hedda Gabler (Ibsen/Harris); Pains of
Youth (Bruchner / Dainaro)
1990 Valkoinen sali, Rouva LeNin (Hlebnikov / Arlander)
1989 Nokian Kaapelitehdas: Hydra (Muller/Arlander)
1988–89 Katajanokan konepaja: Ruusujen sota (Shakespeare/Siikala)
1988–89 Kiinnitys Tampereen Työväenteatteri: Musta rakkaus (Linna/Niemelä); Rovastin häämatka
(Agapetus/Kotkanniemi); Road (Cartwright/Räikkä); Pure messinkiä (Lepokorpi / Kairimo)
1987 Kampaamo Face (työryhmä Koivisto, Mäenpää, Röhr, Kiuru): Step on my face, gently

1985 Yhden yön pysäkki (Liksom/ Litmanen )
Näyttelijänä fiktiivisissä elokuvissa
2015 Tunnustus, lyhytelokuva (Anna Äärelä)
2014 Ödeö, lyhytelokuva, (Malin Nyqvist)
2013 Romanssi (Mänttäri)
2011 Vares: Sukkanauhakäärme (Mäki/Törhönen)
2009 Tarkastaja, lyhytelokuva (Mänttäri)
2008 United we stand, lyhytelokuva (Pedregal)
2003 Joensuun Elli (Mänttäri)
2002 Eläytyminen, lyhytelokuva (Jartti / Hietanen)
1993 Routasydän (Sallinen)
1991 Mestari (Mänttäri)

1991 Jääkärin morsian, lyhytelokuva (Rosma)

1987 Petos (Kylätasku / T. Kassila)
1986 Insiders (Törhönen)
1984 Huomenna (Rosma)
1982 Palava enkeli (Törhönen)
Näyttelijänä televisiossa
2010 Helppo elämä (Aaltonen)
2009 Naisia Kaupungilla (Mäkelä/Aaltonen)
2007 Puolustuksen puheenvuoro (Pöllä,Varpio / Kirjavainen)
2002 Kotikatu
2001 Musta sukka (Kapulainen/Franck)
2000 Mahtihäät (Tervo / Rosma)
2000 Pako punaisten päämajasta (Soinio)
1999 Kirjavat sillat (Oranen/Jokinen)
1995 Mahdottoman tavallinen (Jorma Laine/Anssi Mänttäri)
1989 Ihmeidentekijät
1989–90 Ruusun aika (Oranen / Vanne)
1989 Lottovoittajien maa (Paljakka)
1989Terveysasema (Mänttäri)
1988 Pakanamaan kartta (Hardwick)
Näyttelijänä radioteatterissa
2013 Radioateljee: Georg Widenius Jazzia lapsille (Lainela)
2011 Radioateljee: Henry Cow mielikuvia imrovisaatiosta
2007 Radioateljee: Pubit (Lainela)
2007 Terroristi (Hulkko)
2006 Unipyörä (Kirjavainen)
2005 Psykodynamiikkaa (Kirjavainen)
2005 Taukopaikka (Hulkko)
2004 Vapaa nainen (Nyytäjä / Rosma)
2003 Radioateljee: Kätketty ja kirkas (H-M Kinnunen)
2003 Keijut (A .Arlander)
1998–2003 Tämän runon haluaisin kuulla;

Kuulijoiden toivomuksia, suora lähetys

2000 Kahdesti kuollut (Carlson / Kyrö)
1999 Puut kantavat valoa (Kunnas / Koskimies)
1994 Pornografiaa (Gombrawicz / Kiljunen)
1993 Taistelu verenkierrosta (Hlebnikov / Arlander)
1991 Radioteatterin kuunnelma Sulka (Ohls)
1977–79 Ollin Pumppu (A.Lind)
Ohjaajana teatterissa
2009 Rumbita de los Suenjos, Undostres-tanssiryhmä/ Gloria / Helsinki, Laurentius-sali / Lohja
2008 Optimisti ja pessimisti,Teatteri Pieni Kina, Helsinki
2003 Romeo&Julia, Orgaaninen vuorovaikutusteatteri Fun-K, Naamio & Höyhen, Helsinki
Käsikirjoitukset

2016 sopimus esikoisjulkaisusta, tietokirja, Kirjapaja
2009 Rumbita de los Suenjos, Unelmien pieni rumbita
1988 Yhden miehen nainen
Muut työtehtävät JÄRJESTYS SEKAISIN:
2016 READ -lukudraama, Surun musta eläin
2010, Kulttuurituottaja, Helsingin kaupungin Kulttuurikeskus ,Teatteri Helsinki
2007–08 Ilmaisuterapeutti, sosiokulttuuriset menetelmät, Hgin kaup. sosiaalivirasto, palvelukeskus
Kinapori
2007–09 Tuottaja, Kallio Kukkii, Kallio Kipinöi -festivaalit
2007– Kuoronjohtaja/tuottaja: Kallion Valituskuoro
Muuta 2015 Hyvä kätilö-tarinateatteriryhmän toiminta mm. Espoon lastensuojelun kanssa, ryhmän
perustajajäsen

ja nimeäjä

2015 Nordiska konstskolan, Kokkola, Pauliina Turakka- Purhonens assistent
2010 Faces -festivaali, Pohja, lasten tapahtumateltta, satuja näyttämöllä
2008 Faces -festivaali, Billnäs, Tero Jartin rullasadun esitys
2008 Kepa ry, Maailma kylässä, Helsinki lastenteltan juontaja
2007 Faces -festivaali, Billnäs, lasten teltta, Ganeshan tarina, osallistava esitys
2007 Kepa ry, Maailma kylässä -festivaali, Helsinki: Ganeshan tarina
2005Tervetuloa meille Taidetta koteihin -projekti
1.2. –31.5.2001 Orton/Inavalidisäätiö kartoitus taiteen parantavasta vaikutuksesta
</body>

</html>
